<h1 class="mt-3">
  {{ currentHero.id ? 'Editar' : 'Agregar' }}
  héroe
  <small>{{currentHero.superhero}}</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">

  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content class="colorViolet m-2">

        <form class="grid" [formGroup]="heroForm" (ngSubmit)="onSubmit()" >
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Super héroe</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="superhero">
          </mat-form-field>


          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Alter ego</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="alter_ego">
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Primera aparición</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="first_appearance">
          </mat-form-field>


          <mat-form-field class="col-12">
            <mat-label>Personajes</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="characters">
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Saga</mat-label>
            <mat-select required="" formControlName="publisher">
              <mat-option
              *ngFor="let saga of sagas"
              [value]="saga.id">{{ saga.id }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Imagen alternativa</mat-label>
            <input
              matInput
              type="text"
              formControlName="alt_img">
          </mat-form-field>

        </form>

        <div class="flex justify-content-between">
          <button
            *ngIf="currentHero.id"
            mat-flat-button
            color="warn"
            class="w-4"
            (click)="OnDeleteHeroConfirm()">
            Borrar
          </button>

          <span></span>

          <button
            mat-flat-button
            color="primary"
            class="w-4"
            (click)="onSubmit()">
            <mat-icon>save</mat-icon>
            Guardar
          </button>

        </div>
      </mat-card-content>
    </mat-card>

  </div>


  <div class="col-12 sm:col-6 ">
    <mat-card class="m-2">
      <img [src]=" currentHero | heroImage " alt="imagen del héroe" mat-card-image>
    </mat-card>
  </div>

</div>


